.Action__btn {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 8px 40px;
   background-color: #2d3443;
   border-radius: 15px;
}

.ico {
   padding: 4px;
   background-color: #64748b;
   border-radius: 50%;
}