.sidebar {
   position: relative;
   width: 300px;
   background: #F8FAFC;
   color: #0F172A;
   border-radius: 0 10px 10px 0;
   transition: all 0.4s;
}

.sidebar.sidebar--small {
   width: 50px;
}

.small {
   position: absolute;
   bottom: 0;
   right: 0;
}